<section id="map">
  <div class="dl-map"></div>
  <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-clustering.js"></script>
  <script type="text/javascript" src="https://js.cit.datalens.api.here.com/latest/mapsjs-datalens.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript" src="markers.js"></script>
</section>

<div id="grad">
  <span id="grad_left"> <%= InstitutionProgramLanguage.select("MIN(queue_size) AS queue_size")[0].queue_size %></span>
  <span id="grad_right"> <%= InstitutionProgramLanguage.select("MAX(queue_size) AS queue_size")[0].queue_size %></span>
</div>
