%section#map
  .dl-map
  %script{src: "https://js.cit.api.here.com/v3/3.0/mapsjs-core.js", type: "text/javascript"}
  %script{src: "https://js.cit.api.here.com/v3/3.0/mapsjs-service.js", type: "text/javascript"}
  %script{src: "https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js", type: "text/javascript"}
  %script{src: "https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js", type: "text/javascript"}
  %script{src: "https://js.cit.api.here.com/v3/3.0/mapsjs-clustering.js", type: "text/javascript"}
  %script{src: "https://js.cit.datalens.api.here.com/latest/mapsjs-datalens.js", type: "text/javascript"}
  %script{src: "https://d3js.org/d3.v4.min.js", type: "text/javascript"}
  %script{src: "markers.js", type: "text/javascript"}
#grad
  %span#grad_left
    = InstitutionProgramLanguage.select("MIN(queue_size) AS queue_size")[0].queue_size
  %span#grad_right
    = InstitutionProgramLanguage.select("MAX(queue_size) AS queue_size")[0].queue_size
