%head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:content => "CareQueue", :property => "og:title"}/
  %meta{:content => "https://riga.carequeue.lv", :property => "og:url"}/
  %meta{:content => "Rīks, kas palīdz labāk saprast Rīgas bērnudārzu rindas", :property => "og:description"}/
  %meta{:content => "https://riga.carequeue.lv/assets/images/Carequeue.jpg", :property => "og:image"}/
  %meta{:content => "https://riga.carequeue.lv/assets/images/Carequeue.jpg", :property => "og:image:secure_url"}/
  %meta{:content => "image/jpeg", :property => "og:image:type"}/
  %meta{:content => "400", :property => "og:image:width"}/
  %meta{:content => "181", :property => "og:image:height"}/

  %title CareQueue
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{href: "https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059", rel: "stylesheet", type: "text/css"}
