%header#header
  .inner
    %a.logo{href: "/", title: "#{t(:data_reload)}: #{l(@data_reload_time)}"} CareQueue
    %nav#nav
      = render partial: 'layouts/menu'
%a.navPanelToggle{href: "#menu"}
  %span.fa.fa-bars
%nav#navPanel
  = render partial: 'layouts/menu'
  %a.navPanelClose.close{href: "#menu"}
