<section >
    <div class="inner" style="margin-bottom: 10px">
        <div class="row uniform 50%">
            <div class="4u 12u$(xsmall)">
                <p>
                    <label>Zaķītis    NN233</label>
                </p>
                <p>
                    <label for="otrkid">Kaķītis     NN234</label>
                </p>
                <p>
                    <label for="notif">Notification frequency</label>
                    <select>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Anually</option>
                    </select>
                </p>
                <p>
                    <label for="addcode">Code:</label>
                    <input name="addcode" id="addcode" type="text">
                </p>
                <p>
                    <label for="nickname">Nickname:</label>
                    <input name="nickname" id="nickname" type="text">
                </p>
                <p>

                    <button>SUBSCRIBE</button>
                </p>
            </div>
            <div class="8u$ 12u$(xsmall)">
                <iframe width="100%" height="441" src="https://eazybi.com/accounts/25071/embed/report/167819?show_header=false&show_border=false" frameborder="0"></iframe>
            </div>
        </div>
    </div>
<!-- <div style="clear: both" /> -->
</section>
