<section>
    <table>
        <td>
            <h3>Hello</h3>
            <h3>Jen Huan Sun</h3>
        </td>
        <td>
            <p>
            <label>Zaķītis    NN233</label>
            <p>
            <label for="otrkid">Kaķītis     NN234</label>
            <p>
            <label for="notif">Notification frequency</label>
            <select>
                <option>Weekly</option>
                <option>Monthly</option>
                <option>Anually</option>
            </select>
            <p>
            <label for="addcode">Add code:</label>
            <input name="addcode" id="addcode" type="text">
            <p>
            <label for="nickname">Add nickname:</label>
            <input name="nickname" id="nickname" type="text">
            <p>

            <button>SUBSCRIBE</button>

        </td>
    </table>
</section>