%section#footer
  .inner
    %header
      %h2 Get in Touch
    %form{action: "#", method: "post"}
      .field.half.first
        %label{for: "name"} Name
        %input#name{name: "name", type: "text"}/
      .field.half
        %label{for: "email"} Email
        %input#email{name: "email", type: "text"}/
      .field
        %label{for: "message"} Message
        %textarea#message{name: "message", rows: "6"}
      %ul.actions
        %li
          %input.alt{type: "submit", value: "Send Message"}
