%section#banner
  .inner
    %h1
      CareQueue:
      %span
        Pick the right kindergarten
        %br/
        and know your real queue status
    %ul.actions
      %li= link_to 'Get Started', search_children_path, class: "button alt"
%section#reports
  .inner
    %iframe{frameborder: "0", height: "151", src: "https://eazybi.com/accounts/25071/embed/report/167814?show_header=false&show_border=false", width: "1128"}
    %iframe{frameborder: "0", height: "441", src: "https://eazybi.com/accounts/25071/embed/report/167815?show_header=false&show_border=false", width: "1128"}
