%section#banner
  .inner
    %h1
      CareQueue:
      %span
        = t :pick_right_kindergarten
        %br/
        = t :know_queue_status
    %ul.actions
      %li= link_to t(:get_started), search_children_path, class: "button alt"
%section#reports
  .inner
    %iframe{frameborder: "0", height: "151", src: "https://eazybi.com/accounts/25071/embed/report/167814?show_header=false&show_border=false", width: "1128"}
    %iframe{frameborder: "0", height: "441", src: "https://eazybi.com/accounts/25071/embed/report/167815?show_header=false&show_border=false", width: "1128"}
