<section id="banner">
  <div class="inner">
    <h1>CareQueue: <span>Pick the right kindergarden<br>
    and know real queue status</span></h1>
    <ul class="actions">
      <li><a href="#" class="button alt">Get Started</a></li>
    </ul>
  </div>
</section>
