<section id="banner">
  <div class="inner">
    <h1>CareQueue: <span>Pick the right kindergarten<br>
    and know your real queue status</span></h1>
    <ul class="actions">
      <li><a href="#" class="button alt">Get Started</a></li>
    </ul>
  </div>
</section>

<section id="reports">
  <iframe width="1128" height="151" src="https://eazybi.com/accounts/25071/embed/report/167814?show_header=false&show_border=false" frameborder="0"></iframe>
  <iframe width="1128" height="441" src="https://eazybi.com/accounts/25071/embed/report/167815?show_header=false&show_border=false" frameborder="0"></iframe>
</section>
